* {
    margin: 0 auto;
}

    .conteiner {
        max-width: 1000px;
    }

    .text {
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        color: #222222;
    }

    header {
        display: flex;
        background: #000000;
        color: #ffffff;
        padding: 40px;
    }

    main {
        padding-top: 40px;
        min-height: calc(100vh - 250px);
    }

    .btn-cart {

    }

    .products {
        display: flex;
        justify-content: space-around;
    }

        h3, H3 {
            margin-bottom: 20px;
        }

        .product-item p {
            margin-bottom: 20px;
        }





        footer {
            background-color: #ffe4c4;
            height: 100px;
        }